<p>
  <a [routerLink]="['a']">a</a>
</p>
<p>
  <a [routerLink]="['b']">b</a>
</p>
<p>
  <input type="checkbox" id="canActivate" [(ngModel)]="exampleService.canActivate">
  <label for="canActivate">canActivate</label>
</p>
<p>
  <input type="checkbox" id="canActivateChild" [(ngModel)]="exampleService.canActivateChild">
  <label for="canActivateChild">canActivateChild</label>
</p>
<p>
  <input type="checkbox" id="canLoad" [(ngModel)]="exampleService.canLoad">
  <label for="canLoad">canLoad</label>
</p>
<router-outlet></router-outlet>
